
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1" parallel="" thread-count="1">
 <parameter name="browser" value="chrome"></parameter>
 <parameter name="browser2" value="firefox"></parameter>
 <test name="Test">
 <packages>
	<package name="automationScripts.loginModule.*" />
		<package name="automationScripts.homepage.*" />
			<package name="automationScripts.cart.*" />
				<package name="automationScripts.myAccount.*" />
 </packages>
</test>
 </suite>